@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #5D2C80;
}

div {
    display: block;
}

div#imagem {
    position: relative;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 250px;
    transform: translate(-50%, 20%);
    background: url(../imagens/img1.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;

}

#form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 17%);
    background-color: rgb(255, 255, 255);
    width: 380px;
    height: 270px;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

div#form > form > h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 5px 10px 20px 10px;
}

div#form > form > p {
    text-align: justify;
    margin: 10px 5px 20px 5px;
}

form#button {
    background-color: aqua;
}